/* Body */
body {
    background-image: url('../img/fondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Main y grids */
main {
    padding: 2rem;
}

.grid-galeria {
    display: flex;
    justify-content: center;
    gap: 200px;       /* separación simétrica */
    padding: 40px 0;
    width: 100%;
}

/* Cards */
.card-Container {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 40px 20px;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}

.card {
    position: relative;
    width: 350px;
    height: 400px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-10px);
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.card .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 12px 24px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 30px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.card .btn:hover {
    background-color: #000;
    transform: translate(-50%, -50%) scale(1.05);
}

/* Beneficios */
.beneficios {
    padding: 60px 20px;
    text-align: center;
}

.beneficios h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: #fdfcfc;
}

.beneficios-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}

.beneficio {
    border-radius: 12px;
    padding: 2rem;
    box-shadow: 0 4px 12px rgba(218, 215, 215, 0.05);
    transition: transform 0.3s ease;
}

.beneficio:hover {
    transform: translateY(-6px);
}

.beneficio h3 {
    font-size: 1.3rem;
    margin-bottom: 0.8rem;
    color: #bebebe;
}

.beneficio p {
    font-size: 1rem;
    color: #929090;
}

.beneficio-btn-container {
    grid-column: 1 / -1;
    text-align: center;
    margin-top: 10px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #222;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #000;
}


/* Wrapper */
.wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
}
